.tooltip {
  max-width: 190px;
  position: absolute;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .6);
  box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, .6);
  color: #fff;
  padding: .5rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: .875rem;
}